@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "roboto condensed";
}

body {
    background-color: #40e0d017;

}

#menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    transition: left 300ms;

}

.side-header {
    box-shadow: 0px 5px -5px rgb(0, 0, 0 / 10%);
    background: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-header h3,
side-head span {
    color: #fff;
    font-weight: 400;
}

.sidebar {
    height: 100vh - 60px;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #993399;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #9933998c;
}

.profile {
    text-align: center;
    padding: 2rem 0rem;
}

.side-menu ul {
    text-align: center;
}

.side-menu a {
    display: block;
    padding: 1.2rem 0rem;
}

.side-menu a.active {
    background: #9933991c;
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.side-menu ul li:hover {
    background: #9933991c;
}

#menu-toggle:checked~.sidebar {
    width: 60px;
}

#menu-toggle:checked~.sidebar .side-header .logo-deitada {
    display: none;
}

#menu-toggle:checked~.sidebar .side-header .logo {
    width: 40px;
    height: 30px;
}

#menu-toggle:checked~.main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
}

#menu-toggle:checked~.main-content header {
    left: 60px;
}

#menu-toggle:checked~.sidebar .profile,
#menu-toggle:checked~.sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked~.sidebar .side-menu a span {
    font-size: 1.3rem;
}


.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.profile-img {
    height: 60px;
    width: 60px;
    display: inline-block;
    margin: 0 auto .5rem auto;

    border: 2px solid black;
}

.main-content {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;

}

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px -5px rgb(0 0 0 /10%);
    background: #993399;
    transition: left 300ms;
}

.header-content,
.header-menu {
    display: flex;
    align-items: center;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label {
    cursor: pointer;
    color: white;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-menu {
    justify-content: flex-end;
    padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 1.5rem;
    position: relative;
    color: white;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    background: white;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #993399;
    font-size: .8rem;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
    color: white;
}

.user div {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}

main {
    margin-top: 60px;
}

.page-header {
    padding: 1.2rem 1rem;
    background: #e9edf2;
    border-bottom: 1px solid #dee2e8;
}

.page-header h2,
.page-header small {
    color: #74767d;
}

.page-content {
    padding: 1.2rem 1rem;
    ;

}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0px 10px 5px -5px rgb(0 0 0 /10%);
    background: #fff;
    padding: .5rem;
    border-radius: 10px;
}


.card-progress h2 {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    width: 20px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head span {
    font-size: 2.5rem;
    margin-right: 1rem;
    padding: .8rem;

}

.card-head span .banco {
    color: blue;
}

.card-head span .recebimentos {
    color: green;
}

.card-head span .saida {
    color: red;
}

.card-head span .cartao {
    color: #00796b;
}

.records {
    box-shadow: 0px 10px 5px -5px rgb(0 0 0 /10%);
    background: white;
    border-radius: 10px;
}

.record-header {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.browse input,
.browse select {
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    padding: 0rem .5rem;
    margin-right: .8rem;
    color: #666;
}

.browse select {
    width: 100px;
}

.table-responsive {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #40e0d041;

}

table thead th {
    padding: 1rem 0rem;
    text-align: center;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;

}

table tbody td {
    padding-left: 1rem 0rem;
}

table tbody td:first-child {
    padding-left: 1rem;
    font-weight: 600;
    font-size: .9rem;
}

table td {
    padding: 1rem .5rem;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.actions span {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: .5rem;
}

@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }

    .sidebar {
        left: -165px;
        z-index: 90;
    }

    header {
        left: 0;
        width: 100%;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    #menu-toggle:checked~.sidebar {
        left: 0;
    }

    table {
        width: 900px;
    }
}